# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build/

# Project files for eclipse
.project
.cproject

# Things of VS2011
Debug/
EntityFramework.*
